<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="base/master">
    
    <head>
        <th:block layout:fragment="css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.min.css" integrity="sha256-qpXwccFYncH5gTqXFe9EXZ8QeDw1Re68bbNVfFZzIzg=" crossorigin="anonymous">
            <link href="../assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        </th:block>
        <title>Reservaciones</title>
    </head>
    <body>
        <div class="d-flex align-items-baseline flex-wrap mr-5" layout:fragment="breadcrumbs">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold my-1 mr-5">Reservaciones</h5>
            <!--end::Page Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                <li class="breadcrumb-item">
                    <a href="" class="text-muted">General</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="" class="text-muted">Reservaciones</a>
                </li>
            </ul>
            <!--end::Breadcrumb-->
        </div>
        
        <div class="container" layout:fragment="content">
            <!--begin::Card-->
            <div class="card card-custom">
                <!--begin::Header-->
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">Gestión de Reservas
                            <span class="d-block text-muted pt-2 font-size-sm">Información general</span></h3>
                    </div>
                    <div class="card-toolbar">
                        <!--begin::Button-->
                        <a th:href="@{/bookings/add}" class="btn btn-primary font-weight-bolder">
                            <span class="svg-icon svg-icon-md">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <circle fill="#000000" cx="9" cy="15" r="6" />
                                        <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                            Nuevo Registro
                        </a>
                        <!--end::Button-->
                    </div>
                </div>                
                <!--end::Header-->
                <input type='hidden' id='rol' th:value="${#authentication.getPrincipal().getRol().getNombre()}">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin: Datatable-->
                    <!--<div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>-->
                    <table class="table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
                    </table>
                    <!--end: Datatable-->
                    
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card-->
        </div>

         <th:block layout:fragment="script">
            <!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js" integrity="sha256-/A5TntSW7qgHFs6AcLw31t3ExTWuFBXgBAIkUZqX6o0=" crossorigin="anonymous"></script>-->
            <script src="../assets/js/pages/features/miscellaneous/sweetalert2.js"></script>
            <script src="../assets/plugins/custom/datatables/datatables.bundle.js"></script>
            <script src="../main.js"></script>
            <script src="../bookings/list-datatable.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        </th:block>
        
    </body>
</html>